<div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="text-danger display-1">Blog Time!</h1>
      <p class="text-danger display-5">It’s the little things in life that make the biggest impact. But sometimes, it’s hard to know where to start. But you can start today with blogging.</p>
      <hr class="my-4">
      <p class="text-danger" >Create a user profile, add a article, add categories to it, it does it all.</p>
      <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
